<p>link works!</p>
<div class="container mt-4">
  <h2 class="mb-4">Link Management</h2>

  <form (ngSubmit)="onSubmit()" #simpleForm="ngForm">
    <div>
      <label for="textInput">Text Input:</label>
      <input 
        type="text" 
        id="textInput" 
        name="textInput" 
        [(ngModel)]="textInput" 
        required 
      />
    </div>
    <button type="submit" [disabled]="simpleForm.invalid">Submit</button>
  </form>

  <!-- List of links -->
  <div class="list-group">
    <div *ngFor="let link of links" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between align-items-center">
        <a href="{{'http://localhost:8081/s/' + link.shortUrl}}" target="_blank"><h5 class="mb-1">{{link.shortUrl}}</h5></a>
        <small>
          <button class="btn btn-sm btn-outline-danger" (click)="deleteLink(link.id)">Delete</button>
        </small>
      </div>
      <p class="mb-1">{{link.longUrl}}</p>
    </div>
  </div>
</div>
